# Variables

#### A name that is used to denote something or a value is called a variable. Variables can be declared and values can be assigned to it as follows.

In [1]:
x = 2
y = 5
xy = 'Python'

In [2]:
print(x+y, xy)

7 Python

In [3]:
type(x)

int

In [4]:
type(y)

int

In [5]:
type(xy)

str

#### Multiple variables can be assigned with the same value.

In [6]:
x = y = 1

In [7]:
print(x)

1

In [8]:
print(y)

1

In [9]:
print(x,y)

1 1

# Operators

#### Arithmetic Operators


<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Task</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>+</td>
      <td>Addition</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Subtraction</td>
    </tr>
     <tr>
      <td>/</td>
      <td>Division</td>
    </tr> 
    <tr>
      <td>*</td>
      <td>Multiplication</td>
    </tr>
    <tr>
      <td>%</td>
      <td>Modulus</td>
    </tr>
    <tr>
      <td>**</td>
      <td>Exponentiation</td>
    </tr>
    <tr>
      <td>//</td>
      <td>Floor Division</td>
    </tr>
  </tbody>
</table>

In [10]:
1 + 2

3

In [11]:
3 - 1

2

In [12]:
4 / 2

2.0

In [13]:
2 * 3

6

In [14]:
5 % 2

1

In [15]:
2 ** 3

8

In [16]:
4 // 3

1

#### Relational Operators


<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Task</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>==</td>
      <td>True if equal</td>
    </tr>
    <tr>
      <td>!=</td>
      <td>True if not equal</td>
    </tr>
     <tr>
      <td><</td>
      <td>Less than</td>
    </tr> 
    <tr>
      <td>></td>
      <td>Greater than</td>
    </tr>
    <tr>
      <td><=</td>
      <td>Less than or equal to</td>
    </tr>
    <tr>
      <td>>=</td>
      <td>Greater than or equal to</td>
    </tr>
  </tbody>
</table>

In [17]:
z = 1

In [18]:
z == 1

True

In [19]:
z != 0

True

In [20]:
3 < 2

False

In [21]:
3 > 2

True

In [22]:
2 <= 3

True

In [23]:
4 >= 4

True

#### Bitwise Operators


<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Task</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>&</td>
      <td>Logical AND</td>
    </tr>
    <tr>
      <td>|</td>
      <td>Logical OR</td>
    </tr>
     <tr>
      <td>^</td>
      <td>XOR</td>
    </tr> 
    <tr>
      <td>~</td>
      <td>Negate</td>
    </tr>
    <tr>
      <td>>></td>
      <td>Right Shift</td>
    </tr>
    <tr>
      <td><<</td>
      <td>Left Shift</td>
    </tr>
  </tbody>
</table>

In [24]:
a = 2
b = 3

In [25]:
print (a & b)
print (bin(a&b))

2
0b10

In [26]:
5 >> 1

2

0000 0101 -> 5 

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [27]:
5 << 1

10

0000 0101 -> 5 

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10

# Built-in functions

#### Python comes loaded with pre built functions

### Conversion from one system to another

#### conversion from hexadecimal to decimals is done by adding prefix 0x to the hexadecimal value or vice versa by using built in **hex()**, Octal to decimal by adding prefix 0 to the octal value or vice versa by using built-in function oct().

In [28]:
hex(170)

'0xaa'

In [29]:
0xaa

170

In [30]:
oct(8)

'0o10'

In [31]:
0o10

8

#### **int()** accepts two values when used for conversion, one is the value in a different number system and the other is its base. Note that input number in the different number system should be of string type.

In [32]:
print(int('010',8))
print(int('0xaa',16))
print(int('1010',2))

8
170
10

#### int() can also be used to get only the integer value of a float number or can be used to convert a number which is of type string to integer format. Similarly, the function str() can be used to convert the integer back to string format.

In [33]:
print(int(7.7))
print(int('7'))

7
7

#### Also note that function bin() is used for binary and float() for decimal/float values. chr() is used for converting ASCII to its alphabet equivalent, ord() is used for the other way round.

In [34]:
chr(98)

'b'

In [35]:
ord('b')

98

# Simplifying Arithmetic Operators

#### round() rounds the input value to a specified number of places or to the nearest integer.

In [36]:
print(round(5.6781))
print(round(8.94321,2))

6
8.94

#### complex() is used to define a complex number and abs() outputs the absolute value of the same.

In [37]:
c = complex('5+2j')
print(abs(c))

5.385164807134504

#### divmod(x,y) outputs the quotient and the remainder in a tuple in format (quotient,remainder)

In [38]:
divmod(9,2)

(4, 1)

#### isinstance() returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [39]:
print(isinstance(1,int))
print(isinstance(1.0,int))
print(isinstance(1.0,(int,float)))

True
False
True

#### **pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [40]:
print (pow(3,3))
print (pow(3,3,5))

27
2

#### range( ) function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list.

In [41]:
print (range(3))
print (range(2,9))
print (range(2,27,8))

print(type(range(3)))

range(0, 3)
range(2, 9)
range(2, 27, 8)
<class 'range'>

# Accepting User Inputs

#### raw_input( ) accepts input and stores it as a string. Hence, if the user inputs a integer, the code should convert the string to an integer and then proceed.

In [42]:
abc = input("Type something here and it will be stored in variable abc \t")

Type something here and it will be stored in variable abc 	hello

In [43]:
abc

'hello'

In [44]:
type(abc)

str

#### input( ), this is used only for accepting only integer inputs.

In [45]:
abc1 =  input("Only integer can be stored in variable abc \t")

Only integer can be stored in variable abc 	888

In [46]:
type(abc1)

str

#### Note that type( ) returns the format or the type of a variable or a number

## Done!